
body{
    display:colum;
    height: 50vh;
    background: #151515;
}
H1{
    font-size: 30px;
    color: #0ddf0d;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: underline 5px;
    padding: 20px;
  }
div{
    text-align: center;
    margin-top: 70px;
  }
  div .field{
    margin-top: auto;
    display: flex;
  }
  
.field input{
    height: 50px;
    width: 50%;
    outline: none;
    font-size: 20px;
    color: #0ddf0d;
    border-radius: 15px;
    border: 1px solid #444;
    
    background: linear-gradient(#333,#222);
  }
  input:focus{
    color: #0ddf0d;
    box-shadow: 0 0 5px rgba(0,255,0,.2),
                inset 0 0 5px rgba(0,255,0,.1);
    background: linear-gradient(#333933,#222922);
    animation: glow .8s ease-out infinite alternate;
  }
  @keyframes glow {
    0%{
      border-color: #0ddf0d;
      box-shadow: 0 0 5px rgba(0,255,0,.2),
                  inset 0 0 5px rgba(0,0,0,.1);
    }
    100%{
      border-color: #6f6;
      box-shadow: 0 0 20px rgba(0,255,0,.6),
                  inset 0 0 10px rgba(0,255,0,.4);
    }
  }
  
  button,select{
    border: none;
    padding: 16px 40px;
    background: #2f2d2d;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    color: #0ddf0d;
    border: 1px solid #0ddf0d;
    box-shadow: 0 0 5px rgba(0,255,0,.3),
                0 0 10px rgba(0,255,0,.2),
                0 0 15px rgba(0,255,0,.1),
                0 2px 0 black;
  }

 
  ul li{
    color: #0ddf0d;
    list-style: none;
    font-size: 25px;
    padding: 12px 8px 20px;
    user-select: none;
    cursor: pointer;
    margin-left: 14%;
  }
  ul li.checked{
    color:#c32912;
    text-decoration: line-through;
  }
  .delete{
    position: absolute;
    right: 15%;
    width: 40px;
    height: 40px;
    color: red;
}
.edit{
  position: absolute;
  right: 18%;
  width: 40px;
  height: 40px;
  color: rgb(28, 6, 153);
}
.save{
  position: absolute;
  right: 10%;
  width: 40px;
  height: 40px;
  color: rgb(21, 224, 10);
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  